<h1>Ulotki</h1><small>Za tą aktywność zdobędziesz X punktów</small>

  <!-- group all sorted leaflets by date -->
<% @leaflets.group_by(&:date).each do |date, leaflets| %>
  <p><%= l(date, :format => '%A, %d %b %Y') %></p> <!-- localized date formatting: weekday, day month year -->
  

  <table>
    <tr>
      <% leaflets.each do |leaflet| %>
      
        <td style="border:dotted 1px; padding:5px;">
    
      <strong><%= leaflet.place %></strong><br/>
      <%= leaflet.description %><br/>
      <%= link_to "Zapisz się", leaflet_path(leaflet) %>
      </td>
      </a>
    <% end %>
    </tr>

  </table>
  
  <% end %>