<h1>Inne</h1>


<!-- group all sorted others by date -->
<% @others.group_by(&:date).each do |date, others| %>
  <p><%= l(date, :format => '%A, %d %b %Y') %></p> <!-- localized date formatting: Weekday, day month year -->
  

  <table>
    <tr>
  	  <% others.each do |other| %>
      <td style="border:dotted 1px; padding:5px;">
      <strong><%= other.name %></strong><br/>
  	  <%= other.description %><br/>
  	   <%= link_to "Zapisz się", other_path(other) %>
      </td>
	  <% end %>
    </tr>

  </table>
  
  <% end %>