<% if user_signed_in? %>
  <% if current_user.sign_in_count > 1 %>
    <h1>Witaj ponownie, <%= current_user.name %>!</h1>
  <% else %>
    <h1>Witaj na Promo Platformie, <%= current_user.name %>!</h1>
  <% end %>
<% end %>


<h3>Ekran główny po zalogowaniu</h3>
<p>Nagrody do wygrania w tym promotourze</p>
<p>Podium - kto aktualnie prowadzi</p>
<p>shoutbox</p>
<p>statystyki: ilość punktów, aktywności, potwierdzeń, zdobyte odznaki itp</p>
